@use 'globals';
@use 'abstracts' as *;

.login__container {
  flex: 1;
  width: 100%;
  padding: 0 10px;
  margin-bottom: 100px;
  @include flex-column(center, center);

  form {
    width: 100%;
    padding: 20px;
    max-width: 450px;
    margin-top: 30px;
    @include flex-column(center, center);
    box-shadow: 0 0 10px rgba(#000, 0.1);

    p {
      font-size: 14px;
      text-align: center;
    }

    button {
      width: 100%;
      font-size: 1rem;
      margin-top: 20px;
      padding: 12px 20px;
      border-width: 1.5px;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
      background-repeat: no-repeat;
      background-position: 8% center;
    }
  }

  @include media('md') {
    form {
      p {
        font-size: 18px;
      }

      button {
        width: 50%;
        text-align: end;
        background-position: 8% center;
      }
    }
  }
}
