@use 'abstracts' as *;
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: $lightTextColor;
  background: $lightBackground;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.dark {
    color: $darkTextColor;
    background: $darkBackground;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.loading-state {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 10px solid #ddd;
  border-top-color: $primaryColor;
  animation: loading 1s linear infinite;
}
@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}
